.idea/
debian/files
debian/files
debian/tcollector.debhelper.log
debian/tcollector.postinst.debhelper
debian/tcollector.postrm.debhelper
debian/tcollector.prerm.debhelper
debian/tcollector.substvars
debian/tcollector/
*.pyc
*.pid
*.log
.DS_Store

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
