language: python
dist: "xenial"
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install pylint pylint_runner ordereddict mysqlclient requests feedparser prometheus_client flask
script:
  - pylint_runner --rcfile .pylintrc
  - ./tests.py
